/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url("forest.jpg");
  margin: 0;
}
.userinfo {
  text-align: center;
}
.links {
  color: white;
  font-size: 200%;
  font-weight: lighter;
  font-family: sans-serif;
}
.links a {
  text-decoration: none;
  color: white;
}
.yield {
  min-height: 500px;
}
#notice {
  color: white;
  background-color: green;
  width: 300px;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
  font-size: 250%;
}
