// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: white;
  font-size: 500%;
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
  margin: 100px 0;
}
p {
  color: white;
  text-align: center;
  font-weight: lighter;
  font-family: sans-serif;
}
