// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add_new_product {
  text-align: center;
  margin-top: 50px;
}
.add_new_product a {
  color: white;
  font-size: 200%;
  font-family: sans-serif;
  text-decoration: none;
}
h4 {
  text-align: center;
  color: white;
  font-size: 200%;
  font-family: sans-serif;
}
